@import 'tailwindcss';


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f51691;
    --foreground: #18010e;
  }
}

/* تفعيل الوضع الداكن يدوياً */
.dark {
  --background: #1b0404;
  --foreground: #f1f1f1;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background 0.3s ease, color 0.3s ease; /* ✅ تأثير ناعم عند التبديل */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

